# Clinova AI Service
fastapi
uvicorn[standard]
pydantic>=2.0
pydantic-settings
python-dotenv

# AI Logic
langgraph
langchain
langchain-mistralai
mistralai

# Database
asyncpg
sqlalchemy[asyncio]
alembic
chromadb
sentence-transformers

# Conflict Fixes
tokenizers>=0.22.0,<=0.23.0
protobuf<6.0

# Messaging
kafka-python
confluent-kafka

# Utils
python-multipart
orjson
structlog
prometheus-fastapi-instrumentator
python-jose[cryptography]
passlib[bcrypt]
cryptography
httpx<0.28.0
